body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #eee;
    background: linear-gradient(#222, #234);
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
    color: rgb(30, 100, 75);
}

form {
    margin-top: auto;
    background-color: transparent;
    padding: 20px 0;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.inputs {
    min-width: 95%;
    margin: 8px;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 1px solid #666;
    box-shadow: 0px 0px 15px #0001;
    background-color: transparent;
    border-radius: 4px;
    color: #ffff;
}

textarea {
    min-width: 95%;
    resize: none;
    min-height: 100px;    
}

label {
    margin: 10px;
    font-size: 0.9em;
    line-height: 2;
    color: rgb(30, 100, 75);
}
.checbox {
    width: auto;
    margin-top: auto;
}

.button {
    min-width: 95%;
    margin: 8px;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 1px solid #666;
    box-shadow: 0px 0px 15px #0001;
    background-color: transparent;
    border-radius: 4px;
    color: rgb(30, 100, 75);
}

option {
    background-color: #222;
}

fieldset{
    margin: 12px;
    color: rgb(30, 100, 75);
    border: 2px solid;
    border-radius: 5px;
}

legend {
    padding: 0 6px;
}