.login {
    background: rgb(0, 0, 0);
    text-align: center;
    width: 300px;
    height: 350px;
    margin: auto;
}

h1 {
    font-size: 45px;
    color: whitesmoke;
    margin-top: 100px;
}

.info-login {
    
    background: rgb(11, 11, 11);
    margin-top: auto;
    color: whitesmoke;
    margin-top: 25px;
    border-color: whitesmoke;
    border-right: none;
    border-top: none;
    border-left: none;
    padding: 2px 35px;
}

.button-login {
    background: black;
    color: whitesmoke;
    margin: 35px;
}

.link {
    color: whitesmoke;
    margin-top: 0;
    text-align: center;
}