p {
    color: red; /*color de texto */
    font-family: 'Times New Roman', Times, serif; /*Fuente de letra*/
    font-size: 16px; /*Tamaño de letra*/
    font-weight: 100; /*Grosor de letra*/
    font-style: italic; /*Cursivo*/
    text-align: center; /*Alineacion de texto*/
    text-decoration: overline; /*Tachado*/
    line-height: 1.8; /*Espacio entre renglones*/
    text-transform: capitalize; /*Tipo de letra (uppercase-lowercase)*/
}

h1 {
    text-align: center;
}